* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar-left content  sidebar-right"
    "footer footer footer";
  background: linear-gradient(white, rgb(62, 103, 226));
  gap: 30px;
  height: 70%;
  width: 80%;
  margin: 50px auto;
  padding:30px;
  grid-template-rows: 45px 230px 45px;
  grid-template-columns: 150px auto 150px;
}
.header {
  background: rgb(143, 135, 137);
  grid-area: header;
}
p {
  color: white;
  font-size: 23px;
  padding: 10px 15px;
}
.sidebar-left {
  background: rgb(65, 64, 64);
  grid-area: sidebar-left;
  border-radius: 5px;
}

.content {
  background: rgb(65, 64, 64);
  grid-area: content;
}

.sidebar-right {
  background-color: rgb(180, 179, 179);
  grid-area: sidebar-right;
}

.footer {
  background: rgb(143, 135, 137);
  grid-area: footer;
}
div {
  border-radius: 5px;
}
